@model List<Generwell.Modules.ViewModels.MapViewModel>
@using Microsoft.AspNetCore.Http;
@using Generwell.Modules.GenerwellEnum;

@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        debugger;
        mapPage.initialize();
    });
</script>

<!-- Loading Modal Start here-->
@Html.Partial("_LoadingPopup")
<!-- Modal ends Here -->

<input id="previousPageValue" type="hidden" value="@((int)Enum.Parse(typeof(PageOrder), Context.Session.GetString("previousPage")))"/>
<input id="latitude" type="hidden" value="@Context.Session.GetString("Latitude")" />
<input id="longitude" type="hidden" value="@Context.Session.GetString("Longitude")" />
<input id="myAssets" type="hidden" value="@Context.Session.GetString("myAssets")" />
<input id="moduleId" type="hidden" value="@Context.Session.GetString("ModuleId")" />



<div class="container wrapper-content animated fadeInRight mr-20 ml-20">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-12 text-align-right user-name pt-pb-10"><label>Welcome &nbsp;</label>@Context.Session.GetString("UserName")</div>
            <div class="ibox float-e-margins">
                <div id="headingMap" class="title ibox-title border-bottom">
                    <h4 class=""><span class="">Map</span><span id="drivingDirection" class="text-center hide-div float-right">Driving Directions</span></h4>
                </div>
                <div id="map" class="map border-br mt-10"></div><div id="panel" class="border-brt mt-10"></div>
            </div>
        </div>
    </div>
    <div class="float-right form-group pt-pb-10"><img id="moveTop" src="~/images/back-to-top.png" class="h-fourty" /></div>
</div>
