@model Generwell.Modules.ViewModels.PictureViewModel
@using Microsoft.AspNetCore.Http;
@{
    ViewBag.Title = "Pictures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        picturePage.initialize();
    });
</script>

<!-- Loading Modal Start here-->
@Html.Partial("_LoadingPopup")
<!-- Modal ends Here -->



<div class="container wrapper-content animated fadeInRight mr-20 ml-20">
    <div class="row">
        <div class="col-lg-12">
            <div class="float-right user-name"><label>Welcome &nbsp;</label>@Context.Session.GetString("UserName")</div>
            <div class="ibox float-e-margins">
                <div class="title ibox-title border-bottom">
                    <h4><img src="~/images/welldetails-icon.png" class="pb-5" />&nbsp;Pictures</h4>
                </div>

                <form asp-action="UploadFile"
                      asp-controller="Picture"
                      method="post"
                      name="pictureForm"
                      enctype="multipart/form-data">
                    <input id="albumId" asp-for="@Model.albumId" type="hidden" value="@Model.albumId" />

                    <div class="i-checks chk border-bottom pt-pb-20">
                        <input id="cancel" type="button" class="btn button float-right mt-17 ml-10" name="Cancel" value="Cancel" />
                        <input type="submit" value="Save" class="btn button float-right mt-17" />
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-4 mt-10 form-group">
                            <label><span class="btn button">Choose image file to upload</span><input id="fileupload" type="file" name="file" style="display: none" class="btn button" /></label>
                            <br/>
                            <span id="imageError" class="text-red field-validation-error" data-valmsg-replace="true" data-valmsg-for="image"></span>
                            <div id="dvPreview" class="thumbnail border-blue mt-10">
                                <img src="~/images/uploadImage.png" class="img-responsive image" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-md-4 form-group mt-20">
                            <label>Label</label>&nbsp;<span id="startLabel" class="text-red"><b>*</b></span>
                            <br/>
                            <span id="labelError" class="text-red field-validation-error" data-valmsg-replace="true" data-valmsg-for="@Model.label"></span>
                            <input id="label" name="Label" asp-for="@Model.label" class="form-control" value="@Model.label" />
                            <br />
                            <label>Comment</label>&nbsp;<span id="startComment" class="text-red"><b>*</b></span>
                            <br />
                            <span id="commentError" class="text-red field-validation-error" data-valmsg-replace="true" data-valmsg-for="@Model.comment"></span>
                            <textarea rows="9" cols="50" name="Comment" id="comment" class="form-control textarea">@Model.comment</textarea>
                        </div>
                    </div>
                </form>
               
            </div>
        </div>
    </div>
</div>

