@model Generwell.Web.ViewModels.TaskDetailsViewModel


@{
    ViewBag.Title = "Task Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Loading Modal Start here-->
@Html.Partial("_LoadingPopup")
<!-- Modal ends Here -->

<div class="container wrapper wrapper-content animated fadeInRight mr-20 ml-20">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="title ibox-title border-bottom">
                    <h4>Task Details</h4>
                </div>
                <br/>
                <div class="col-md-12 col-lg-12">
                    <div class="col-md-6 col-lg-6">
                        <div id="taskDetailsTableDivId" class="ibox-content">
                            <label>Task Name:</label>
                            @Model.name<br />


                            <label>Activity Date:</label>
                            @Model.activatedDate<br />


                            <label>Forecast Date:</label>
                            @Model.forecastDate<br />

                            <label>Due Date:</label>
                            @Model.expectedCompletionDate
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <div id="taskFieldsDiv">
                            @Html.Partial("_ContactField", Model.contactFields)
                        </div>
                    </div>
                </div>
                <br />
                <div id="taskFieldsDiv">
                    @Html.Partial("_TaskFields", Model.fields)
                </div>
            </div>
        </div>
    </div>
</div>
