@model Generwell.Web.ViewModels.TaskDetailsViewModel


@{
    ViewBag.Title = "Task Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Loading Modal Start here-->
@Html.Partial("_LoadingPopup")
<!-- Modal ends Here -->

<div class="container wrapper wrapper-content animated fadeInRight mr-20 ml-20">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>Task Details</h2>
                </div>
                <div id="taskDetailsTableDivId" class="ibox-content">
                    <div class="col-md-12 col-lg-12">
                        <div class="col-md-6 col-lg-6">
                            <div class="col-md-12 col-lg-12">
                                <label>Task Name:</label>
                                <label>@Model.name</label>
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <label>Activity Date:</label>
                                <label>@Model.activatedDate</label>
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <label>Forecast Date:</label>
                                <label>@Model.forecastDate</label>
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <label>Due Date:</label>
                                <label>@Model.expectedCompletionDate</label>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">

                            <div id="taskFieldsDiv" class="col-md-12 col-lg-12">
                                @Html.Partial("_ContactField", Model.fields)
                            </div>


                        </div>
                    </div>
                </div>
                <br />
                <div id="taskFieldsDiv">
                    @Html.Partial("_TaskFields", Model.fields)
                </div>
            </div>
        </div>
    </div>
</div>
