@model Generwell.Web.ViewModels.ContactFieldsViewModel


@*<script type="text/javascript">
        $(document).ready(function () {
            TaskDetailsPage.initialize(@GenerwellConstants.Constants.TaskId);
        });
    </script>*@


<div id="contactFieldsListTableId" class="col-md-12 col-lg-12">

    <div class="col-md-12 col-lg-12">
        <label>Id</label>
       <label>>@Model.id</label>
    </div>
    <div class="col-md-12 col-lg-12">
        <label>User Name:</label>
        <label>@Model.userName</label>
    </div>
    <div class="col-md-12 col-lg-12">
        <label>Email Business:</label>
        <label>@Model.emailBusiness</label>
    </div>
    <div class="col-md-12 col-lg-12">
        <label>Phone Business:</label>
        <label>@Model.phoneBusiness</label>
    </div>

</div>




