@model Generwell.Modules.ViewModels.PictureViewModel

<script type="text/javascript">
    $(document).ready(function () {
        picturePage.initialize();
    });
</script>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">

                    <div class="lightBoxGallery">
                        @if (Model != null)
                        {
                            string base64StringFormat = Convert.ToBase64String(Model.picture);

                            <form asp-action="UpdatePicture"
                                  asp-controller="Picture"
                                  method="post"
                                  name="pictureForm"
                                  enctype="multipart/form-data">

                                <input id="pictureId" type="hidden" asp-for="@Model.id" value="@Model.id" />
                                <input id="albumId" type="hidden" asp-for="@Model.albumId" value="@Model.albumId" />

                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-4 form-group">
                                        <input id="fileupload" type="file" name="file" class="btn button mt-10" />
                                        <input type="submit" value="Upload File" class="btn button mt-10" />
                                        <div id="dvPreview" class="thumbnail border-blue mt-10 wh-300">
                                            <img class="img-responsive wh-300" src="data:image/jpeg;base64,@base64StringFormat"/>
                                        </div>
                                        <span id="imageError" class="text-blue field-validation-error" data-valmsg-replace="true" data-valmsg-for="image"></span>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-4 form-group">
                                        <h4>Label</h4>
                                        <span id="labelError" class="text-blue field-validation-error" data-valmsg-replace="true" data-valmsg-for="@Model.label"></span>
                                        <input id="label" name="Label" asp-for="@Model.label" class="form-control clsedit" value="@Model.label" readonly="readonly" />
                                        <br />
                                        <h4>Comment</h4>
                                        <span id="commentError" class="text-blue field-validation-error" data-valmsg-replace="true" data-valmsg-for="@Model.comment"></span>
                                        <textarea rows="12" cols="50" name="Comment" id="comment" class="form-control clsedit textarea" readonly="readonly" >@Model.comment</textarea>
                                    </div>
                                    <div class="i-checks chk col-sm-12 col-xs-12 col-md-4">
                                        <label>Edit </label>
                                        <input id="edit" type="radio" class="" />
                                        |
                                        <label>Delete </label>
                                        <input id="delete" type="radio" class="" />
                                    </div>
                                </div>
                            </form>


                            @*<div class="col-sm-12 col-xs-12 col-md-4">
                                    <div class="thumbnail border-blue wh-300">
                                        <a id="" href="#" title="Image from Unsplash" data-gallery="">
                                            <img id="@Model.id" src="data:image/jpeg;base64,@base64StringFormat" class="img-thumbnail img-responsive wh-300" alt="Cinque Terre" asp-append-version="true">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12 col-md-4 form-group">
                                    <h4>Label</h4>
                                    <input id="label" name="Label" asp-for="@Model.label" class="form-control clsedit" value="@Model.label" disabled="disabled" />
                                    <br />
                                    <h4>Comment</h4>
                                    <textarea rows="8" cols="50" name="Comment" id="comment" class="form-control clsedit textarea" disabled="disabled">@Model.comment</textarea>
                                </div>*@


                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
