@model Generwell.Modules.ViewModels.PictureViewModel

<script type="text/javascript">
    $(document).ready(function () {
        picturePage.initialize();
    });
</script>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">

                    <div class="lightBoxGallery">
                        @if (Model != null)
                        {
                            string base64StringFormat = Convert.ToBase64String(Model.picture);

                            <form asp-action="UpdatePicture"
                                  asp-controller="Picture"
                                  method="post"
                                  name="pictureForm"
                                  enctype="multipart/form-data">

                                <input id="pictureId" type="hidden" asp-for="@Model.id" value="@Model.id" />
                                <input id="albumId" type="hidden" asp-for="@Model.albumId" value="@Model.albumId" />
                                <input id="fileUrl" type="hidden" asp-for="@Model.fileUrl" value="@Model.fileUrl" />

                                <div class="i-checks chk border-bottom pt-pb-20">
                                    <input id="deletePicture" type="button" name="Delete" class="btn btn-default float-right mt-17 ml-10" disabled="disabled" value="Delete" />
                                    <input id="uploadFile" type="submit" value="Save" class="btn btn-default float-right mt-17 ml-10" disabled="disabled"/>
                                    <input id="cancel" type="button" class="btn button float-right mt-17" name="Cancel" value="Cancel" />
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-4 form-group">
                                        <label><span class="btn button">Choose image file to upload</span><input id="fileupload" type="file" name="file" style="display: none" class="btn button" /></label>
                                        <div id="dvPreview" class="thumbnail border-blue mt-10 wh-300">
                                            <img class="img-responsive wh-300" src="data:image/jpeg;base64,@base64StringFormat" />
                                        </div>
                                        <span id="imageError" class="text-blue field-validation-error" data-valmsg-replace="true" data-valmsg-for="image"></span>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-4 form-group mt-70">
                                        <label>Label</label>&nbsp;<span id="startLabel" class="text-red"><b>*</b></span>
                                        <br />
                                        <span id="labelError" class="text-red field-validation-error" data-valmsg-replace="true" data-valmsg-for="@Model.label"></span>
                                        <input id="label" name="Label" asp-for="@Model.label" class="form-control" value="@Model.label" readonly="readonly" />
                                        <br />
                                        <label>Comment</label>&nbsp;<span id="startComment" class="text-red"><b>*</b></span>
                                        <br />
                                        <span id="commentError" class="text-red field-validation-error" data-valmsg-replace="true" data-valmsg-for="@Model.comment"></span>
                                        <textarea rows="9" cols="50" name="Comment" id="comment" class="form-control textarea" readonly="readonly">@Model.comment</textarea>
                                    </div>
                                    <div class="i-checks chk col-sm-12 col-xs-12 col-md-4">
                                        <label>Edit </label>
                                        <input id="edit" type="radio" class="" />
                                        |
                                        <label>Delete </label>
                                        <input id="delete" type="radio" class="" />
                                    </div>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
