@model List<Generwell.Web.ViewModels.TaskViewModel>
@using Generwell.Modules.GenerwellConstants;
@using System.Globalization;
@using Generwell.Modules.Global;

<script type="text/javascript">
    $(document).ready(function () {
        var targetUrl = '/TaskDetails/Index/';
        taskPage.initialize(targetUrl,"@GlobalFields.UserName");
    });
</script>

<table id="taskListTableId" class="table table-striped table-bordered table-hover taskListDataTable" style="width:100%;">
    <thead>
        <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Status</th>
            <th>Task Name</th>
            <th class="text-center">Activated Date</th>
            <th class="text-center">Forecast Date</th>
            <th class="text-center">Due Date</th>
            <th class="text-center">Assigned To</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr class="gradeU" style="cursor:pointer;width:70%">
                    <td>@item.id</td>
                    <td class="text-center" style="width:5%;">
                        @{
                            if (@item.Completed == GenerwellConstants.Constants.Status)
                            {
                                <img src="@Url.Content("~/images/active.png")" />
                            }
                            else
                            {

                            }
                        }
                    </td>
                    <td style="width:25%;">@item.Name</td>

                    @if (item.ActivatedDate.ToString() != null)
                    {
                        DateTime startDate = new DateTime(1970, 1, 1);
                        DateTime date = startDate.AddSeconds(item.ActivatedDate);
                        <td class="text-center" style="width:10%;">
                            @date.ToString("MMM dd, yyyy")
                        </td>
                    }
                    else
                    {
                        <td class="text-center" style="width:10%;"></td>
                    }

                    <td class="text-center" style="width:10%;">@item.ForecastDate</td>
                    <td class="text-center" style="width:10%;">@item.ExpectedCompletionDate</td>
                    <td class="text-center" style="width:10%;">@item.AssigneeName</td>

                </tr>
                            }
                            }
                            else
                            {
                                <tr class="gradeU">
                                    <td>@GenerwellConstants.Constants.NoData</td>
                                    <td>@GenerwellConstants.Constants.NoData</td>
                                    <td>@GenerwellConstants.Constants.NoData</td>
                                    <td>@GenerwellConstants.Constants.NoData</td>
                                    <td>@GenerwellConstants.Constants.NoData</td>
                                    <td>@GenerwellConstants.Constants.NoData</td>
                                </tr>

                            }
    </tbody>
</table>