@using Generwell.Modules.GenerwellConstants;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1">
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Generwell.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">
    <link href="~/css/processing-model.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="~/css/Layout.css" rel="stylesheet" />
    <link href="~/css/followCheckbox.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @*added for datatable*@
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>
    <script src="~/Scripts/plugins/dataTables/datatables.min.js"></script>
    <script src="~/Scripts/plugins/jeditable/jquery.jeditable.js"></script>
    <script src="~/js/Datatable.js"></script>
    <script src="~/js/Well/Well.js"></script>
    <script src="~/js/Task/Task.js"></script>
    <script src="~/js/TaskDetails/TaskDetails.js"></script>
    <script src="~/js/Login/Login.js"></script>
    <script src="~/js/WellDetails/WellDetails.js"></script>
    <script src="~/js/WellLineReport/WellLineReport.js"></script>
    <script src="~/js/icheck.min.js"></script>

    @*for google map references*@
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZw0u8-boP_HQEsODAebX4zCrpzd8PqZk">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer.js"></script>
    <script src="~/js/Map/Map.js"></script>

    <style>
    </style>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="menu" class="container-flude div-menu h-40">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="col-md-3 text-center">
                        <img src="~/images/logo.png" class="img-responsive " style="padding-top:20px;" />
                    </span>

                    <div class="navbar navbar-right">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="fa fa-bars" style="font-size:16px;color:white;"></span>

                        </button>
                        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                            <ul id="menu" class="nav navbar-nav navbar-right h-244">
                                <li><a href="/Task/Index" class="@GenerwellConstants.Constants.TaskActive">TASKS <br /><img src="~/images/task-icon.png" class="h-20" /></a></li>
                                <li><a href="/Well/Index" class="@GenerwellConstants.Constants.WellActive">WELLS <br /><img src="~/images/well-icon.png" class="h-20" /></a></li>
                                <li><a href="#" class="@GenerwellConstants.Constants.FacilityActive">FACILITIES <br /><img src="~/images/facility-icon.png" class="h-20" /></a></li>
                                <li><a href="#" class="@GenerwellConstants.Constants.PipelineActive">PIPELINES <br /><img src="~/images/pipeline-icon.png" class="h-20" /></a></li>
                                <li><a href="#" class="@GenerwellConstants.Constants.ProjectActive">PROJECTS <br /><img src="~/images/project-icon.png" class="h-20" /></a></li>
                                <li><a href="/Map/Index" class="@GenerwellConstants.Constants.MapActive">MAP <br /><img src="~/images/location-icon.png" class="h-20" /></a></li>
                                <li><a href="/Accounts/Logout" class="@GenerwellConstants.Constants.LogoutActive">LOGOUT <br /><img src="~/images/logout-icon.png" class="h-20" /></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
<!--TOP menuebar-->
</html>

<script type="text/javascript">
    $(document).ready(function () {
        loginPage.initialize();
    });
</script>
