@model List<Generwell.Modules.ViewModels.TaskFieldsViewModel>
@using Generwell.Modules.GenerwellConstants;
@using Microsoft.AspNetCore.Http;

<script type="text/javascript">
    $(document).ready(function () {
        TaskDetailsPage.initialize(@Context.Session.GetString("TaskId"));
        //$(".form_datetime").datetimepicker({ format: 'yyyy-mm-dd hh:ii' });
        $('.datepicker').datepicker({ format: 'M dd,yyyy' }); //Initialise any date pickers
    });
    var ids = $('.clsedit').map(function () {
        return this.id;
    }).get();
    
</script>
@if (Model.Count() > 0)
            {
    @foreach (var item in Model)
    {

        @if (@item.fieldControlType != 2)
                    {
            @if (@item.permissionId == 2 || @item.permissionId == 9)
                        {
                @Html.HiddenFor(model => @item.fieldId, new
           { id = "FieldId" });

            }
        }
    }
}

@*<div id="SaveMessage" style="display:none;">@ViewBag.message=""</div>
@if (ViewBag.Result != null)
{
    if (ViewBag.Result.ToUpper() == "SUCCESS")
    {
        <div class="alert alert-success">
            <strong>Saved successfully.</strong>
        </div>
    }
    
}*@


<table id="taskDetailsListTableId" class="table table-striped table-bordered table-hover taskListDataTable" style="width:100%;">
    <thead>
        <tr>


            <th>Field Description<i class="fa fa-fw fa-sort"></i></th>
            <th>Display Value<i class="fa fa-fw fa-sort"></i></th>
            <th>Field Description<i class="fa fa-fw fa-sort"></i></th>
            <th>Display Value<i class="fa fa-fw fa-sort"></i></th>
        </tr>
    </thead>

    <tbody>
        @*For Display Value field I took controls as per "fieldTypeId" value. just took for 2 values( text and look up(dropdown)*@
        @if (Model.Count() > 0)
        {

            int count = 1;
            @foreach (var item in Model)
            {
                @if (@item.permissionId != 0)
                {
                    if (count % 2 == 1)
                    {
                       @: <tr class="gradeU">
                            <td><b>@item.fieldDesc</b></td>

                            @if (@item.fieldTypeId == 1 || @item.fieldTypeId == 8)
                            {
                                DateTime startDate = new DateTime(1970, 1, 1);
                                DateTime date = startDate.AddSeconds(Convert.ToDouble(item.value));
                                string date2 = date.ToString("MMM dd,yyyy");
                                <td class="displayValue1">
                                    @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                    {
                                        @Html.TextBoxFor(m => date2, new { @class = "clsedit datepicker", @id = @item.fieldId, @name = @item.fieldTypeId, @Readonly = "Readonly" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(m => date2, new { @class = "clsedit datepicker", @id = @item.fieldId, @name = @item.fieldTypeId })
                                    }
                                </td>
                            }
                            @if (@item.fieldTypeId == 2 || @item.fieldTypeId == 6)
                            {
                                <td class="displayValue1">

                                    @if (@item.value != null)
                                    {
                                        @Html.DropDownListFor(model => @item.displayValue, new SelectList(new List<Object> { new { value = 1, text = @item.displayValue, @name = "DDL" } }, "value", "text", 2), new { @class = "clsedit", @id = @item.fieldId })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => @item.displayValue, new SelectList(new List<Object> { new { value = 1, text = @item.displayValue, @name = "DDL" } }, "value", "text", 2), "select", new { @class = "clsedit", @id = @item.fieldId })
                                    }
                                </td>
                            }
                            @if (@item.fieldTypeId == 3)
                            {
                                <td class="displayValue1">
                                  @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                   {
                                    @Html.TextBoxFor(model => @item.value, new { @name = "textbox1", @id = @item.fieldId, @class = "clsedit", @type = "number", @Readonly = "Readonly" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => @item.value, new { @name = "textbox1", @id = @item.fieldId, @class = "clsedit", @type = "number" })
                                    }
                                </td>
                            }


                            @if (@item.fieldTypeId == 4)
                            {
                                <td class="displayValue1">
                               @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                               {
                                    @Html.TextBoxFor(model => @item.value, new { @Max = "100", @id = @item.fieldId, @class = "clsedit", @Readonly = "Readonly" })
                               }
                              else
                               {
                                        @Html.TextBoxFor(model => @item.value, new { @Max = "100", @id = @item.fieldId, @class = "clsedit" })
                                }
                                 </td>
                            }
                            @if (@item.fieldTypeId == 5)
                            {
                                <td class="displayValue1">
                                    @if (@item.value != null)
                                    {
                                        @if (@item.value == "0.0")
                                        {
                                            @Html.CheckBox("checkbox", false, new { @id = @item.fieldId, @class = "clsedit" })
                                        }
                                        @if (@item.value == "1.0")
                                        {
                                            @Html.CheckBox("checkbox", true, new { @id = @item.fieldId, @class = "clsedit" })
                                            @*@Html.CheckBoxFor(m => Convert.ToBoolean(@item.value), new { @id = @item.fieldId, @class = "clsedit", @checked = "checked" });*@
                                        }
                                    }
                                </td>
                            }

                            @if (@item.fieldTypeId == 7)
                            {
                                <td class="displayValue1">
                                 @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                 {
                                    @Html.TextBoxFor(model => @item.value, new { @name = "textbox1", @id = @item.fieldId, @Max = "100", @class = "clsedit", @Readonly = "Readonly" })
                                 }
                                 else
                                {
                                    @Html.TextBoxFor(model => @item.value, new { @name = "textbox1", @id = @item.fieldId, @Max = "100", @class = "clsedit" })
                                }
                                </td>
                            }
                            @if (@item.fieldTypeId == 9)
                            {
                                <td class="displayValue1">
                                    @Html.DisplayFor(model => @item.value, new { @name = "textbox1", @id = @item.fieldId, @class = "clsedit" })
                                </td>
                            }

                            @if (@item.fieldTypeId == 11 || @item.fieldTypeId == 12 || @item.fieldTypeId == 13)
                            {
                                <td class="displayValue1">
                                    @Html.DisplayFor(model => @item.displayValue, new { @name = "textbox1", @id = @item.fieldId, @class = "clsedit" })
                                </td>
                            }
                            @if (@item.fieldTypeId == 10)
                            {
                                <td class="displayValue1">
                            @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                            {
                                    @Html.TextBoxFor(model => @item.displayValue, new { @name = "textbox1", @id = @item.fieldId, @class = "clsedit", @Readonly = "Readonly" })
                            }
                            else
                                {
                                    @Html.TextBoxFor(model => @item.displayValue, new { @name = "textbox1", @id = @item.fieldId, @class = "clsedit" })
                                }
                                </td>
                            }
                            @if (@item.fieldTypeId == 14)
                            {
                                //int imagecount = Int32.Parse(item.displayValue);
                                //int n = Convert.ToInt32(@item.displayValue);@((int)myDecimal)
                                @if (item.displayValue.TrimStart() == "0.0")
                                {

                                    <td class="displayValue1">
                                        <a href="@Url.Action("model => 0", "TaskDetails")" class="elements" target="_blank" id=@item.fieldId>
                                            <span>0 Photo(s)</span>
                                        </a>
                                    </td>

                                }
                                else
                                {
                                    <td class="displayValue1">
                                        <a href="@Url.Action("model =>  @item.displayValue", "TaskDetails")" class="elements" target="_blank" id=@item.fieldId>
                                            <span>@item.displayValue Photo(s)</span>
                                        </a>
                                    </td>
                                }
                            }
                    }
                    @if(count % 2 == 0)
                    {
                        <td><b>@item.fieldDesc</b></td>

                        @if (@item.fieldTypeId == 1 || @item.fieldTypeId == 8)
                        {

                            DateTime startDate = new DateTime(1970, 1, 1);
                            DateTime date = startDate.AddSeconds(Convert.ToDouble(item.value));
                            string date2 = date.ToString("MMM dd,yyyy");
                            <td class="displayValue1">
                                @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                {
                                    @Html.TextBoxFor(m => date2, new { @class = "clsedit datepicker", @id = @item.fieldId, @name = @item.fieldTypeId, @Readonly = "Readonly" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => date2, new { @class = "clsedit datepicker", @id = @item.fieldId, @name = @item.fieldTypeId })
                                }
                            </td>
                        }
                        @if (@item.fieldTypeId == 2 || @item.fieldTypeId == 6)
                            {
                            <td class="displayValue1">

                                @if (@item.value != null)
                                {
                                    @Html.DropDownListFor(model => @item.displayValue, new SelectList(new List<Object> { new { value = 1, text = @item.displayValue, @name = "DDL" } }, "value", "text", 2), new { @class = "clsedit", @id = @item.fieldId })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => @item.displayValue, new SelectList(new List<Object> { new { value = 1, text = @item.displayValue, @name = "DDL" } }, "value", "text", 2), "select", new { @class = "clsedit", @id = @item.fieldId })
                                }
                            </td>
                        }
                        @if (@item.fieldTypeId == 3)
                            {
                            <td class="displayValue1">
                                @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                {
                                    @Html.TextBoxFor(model => @item.value, new { @name = "textbox1", @id = @item.fieldId, @class = "clsedit", @type = "number", @Readonly = "Readonly" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => @item.value, new { @name = "textbox1", @id = @item.fieldId, @class = "clsedit", @type = "number" })
                                }
                            </td>
                        }


                        @if (@item.fieldTypeId == 4)
                            {
                            <td class="displayValue1">
                                @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                {
                                    @Html.TextBoxFor(model => @item.value, new { @Max = "100", @id = @item.fieldId, @class = "clsedit", @Readonly = "Readonly" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => @item.value, new { @Max = "100", @id = @item.fieldId, @class = "clsedit" })
                                }
                            </td>
                        }
                        @if (@item.fieldTypeId == 5)
                            {
                            <td class="displayValue1">
                                @if (@item.value != null)
                                {
                                    @if (@item.value == "0.0")
                                    {
                                        @Html.CheckBox("checkbox", false, new { @id = @item.fieldId, @class = "clsedit" })
                                        @*<input type="checkbox" id=@item.fieldId value=@item.value class = "clsedit">*@
                                    }
                                    @if (@item.value == "1.0")
                                    {
                                        @Html.CheckBox("checkbox", true, new { @id = @item.fieldId, @class = "clsedit" })
                                    }
                                }
                            </td>
                        }

                        @if (@item.fieldTypeId == 7)
                            {
                            <td class="displayValue1">
                                @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                {
                                    @Html.TextBoxFor(model => @item.value, new { @name = "textbox1", @id = @item.fieldId, @Max = "100", @class = "clsedit", @Readonly = "Readonly" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => @item.value, new { @name = "textbox1", @id = @item.fieldId, @Max = "100", @class = "clsedit" })
                                }
                            </td>
                        }
                        @if (@item.fieldTypeId == 9)
                            {
                            <td class="displayValue1">
                                @Html.DisplayFor(model => @item.value, new { @name = "textbox1", @id = @item.fieldId, @class = "clsedit" })
                            </td>
                        }

                        @if (@item.fieldTypeId == 11 || @item.fieldTypeId == 12 || @item.fieldTypeId == 13)
                            {
                            <td class="displayValue1">
                                @Html.DisplayFor(model => @item.displayValue, new { @name = "textbox1", @id = @item.fieldId, @class = "clsedit" })
                            </td>
                        }
                        @if (@item.fieldTypeId == 10)
                            {
                            <td class="displayValue1">
                                @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                {
                                    @Html.TextBoxFor(model => @item.displayValue, new { @name = "textbox1", @id = @item.fieldId, @class = "clsedit", @Readonly = "Readonly" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => @item.displayValue, new { @name = "textbox1", @id = @item.fieldId, @class = "clsedit" })
                                }
                            </td>
                        }
                        @if (@item.fieldTypeId == 14)
                        {
                            //int imagecount = Int32.Parse(item.displayValue);
                            //int n = Convert.ToInt32(@item.displayValue);@((int)myDecimal)
                            @if (item.displayValue.TrimStart() == "0.0")
                                {

                                <td class="displayValue1">
                                    <a href="@Url.Action("model => 0", "TaskDetails")" class="elements" target="_blank" id=@item.fieldId>
                                        <span>0 Photo(s)</span>
                                    </a>
                                </td>

                            }
                            else
                            {
                                <td class="displayValue1">
                                    <a href="@Url.Action("model =>  @item.displayValue", "TaskDetails")" class="elements" target="_blank" id=@item.fieldId>
                                        <span>@item.displayValue Photo(s)</span>
                                    </a>
                                </td>
                            }
                        }
                   @: </tr>
                    }
                }
                count++;
            }
        }
        else
        {
            <tr class="gradeU">
                <td class="displayValue1">@Constants.NoData</td>
                <td class="displayValue1">@Constants.NoData</td>
                <td class="displayValue1">@Constants.NoData</td>
            </tr>
        }


    </tbody>
</table>
<div>
    <button id="SaveTaskFieldDetailsId" type="submit" name="Save" value="Save" class="btn button taskdetailsbuttons">Save</button>
</div>


