@model List<Generwell.Web.ViewModels.TaskFieldsViewModel>
@using Generwell.Modules.GenerwellConstants;

<script type="text/javascript">
    $(document).ready(function () {
        TaskDetailsPage.initialize(@GenerwellConstants.Constants.TaskId);
    });
</script>

<table id="taskDetailsListTableId" class="table table-striped table-bordered table-hover taskListDataTable" style="width:100%;">
    <thead>
        <tr>
            @*<th>Field Description<i class="fa fa-fw fa-sort"></i></th>
            <th>Display Value<i class="fa fa-fw fa-sort"></i></th>*@
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                <th>Field Description<i class="fa fa-fw fa-sort"></i></th>
                <th>Display Value<i class="fa fa-fw fa-sort"></i></th>
              }
            }
        </tr>
    </thead>
    <tbody>        
        @*For Display Value field I took controls as per "fieldTypeId" value. just took for 2 values( text and look up(dropdown)*@ 
        @if (Model.Count() > 0)
        {
            int count = 1;
            @foreach (var item in Model)
            {
                @if(@item.fieldControlType !=2)
                {
                    var fieldId = @item.fieldId;

                }
                @if (@item.permissionId != 0)
                {
                    if (count % 2 == 1)
                    {
                        @:<tr class="gradeU">
                            <td>@item.fieldDesc</td>

                          
                           
                            @if (@item.fieldTypeId == 4)
                            {
                                <td>
                                    @Html.EditorFor(model => @item.displayValue, new { @class = "selecttext ", @id = "displayValue1" })
                                </td>
                            }                              

                       else
                            {
                                <td>
                                    @Html.DropDownListFor(model => @item.displayValue, new SelectList(
                  new List<Object>{                       
                       new { value = 0 , text = @item.displayValue, @id = "displayValue2" }

                    },
                  "value",
                  "text",
                   2))
                                   
                                </td>
                                            }
                                       
                                    }
                                    @if (count % 2 == 0)
                    {
                        <td>@item.fieldDesc</td>
                        @if (@item.fieldTypeId == 4)
                        {
                            <td>
                                @Html.EditorFor(model => @item.displayValue, new { @class = "selecttext ", @id = "displayValue3" })
                               
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DropDownListFor(model => @item.displayValue, new SelectList(
                  new List<Object>{                       
                       new { value = 0 , text = @item.displayValue, @id ="displayValue4" }

                    },
                  "value",
                  "text",
                   2))
                            
                            </td>
                        }
                        @: </tr>
                }
                }
                count++;
            }
        }
        else
        {
            <tr class="gradeU">
                <td>@GenerwellConstants.Constants.NoData</td>
                <td>@GenerwellConstants.Constants.NoData</td>
                <td>@GenerwellConstants.Constants.NoData</td>
            </tr>
        }
 
       
    </tbody>
</table>
<div>
    <button id="SaveTaskFieldDetailsId" type="submit" name="Save" value="Save" class="btn button taskdetailsbuttons">Save</button>   
</div>





