@model  Generwell.Modules.ViewModels.TaskDetailsViewModel
@using Microsoft.AspNetCore.Http;
@using System.Linq;
@using Generwell.Modules.ViewModels;

<script type="text/javascript">
    $(document).ready(function () {
        TaskDetailsPage.initialize(@Context.Session.GetString("TaskId"));
        $('.datepicker').datepicker({ format: 'M dd,yyyy', autoclose: true }); //Initialise any date pickers
        setTimeout(function () { $('#newCmpMessage').hide(); }, 3000);
    });


</script>

<!-- Loading Modal Start here-->
@Html.Partial("_LoadingPopup")
<!-- Modal ends Here -->

<input type="hidden" id="reactivatedTask" value="@Model.status" />

@if (TempData["statusSave"] != null)
{
    @if (TempData["statusSave"].ToString() == "OK")
    {
        <div id="newCmpMessage" class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            Data saved Successfully.
        </div>
    }
}

<table id="taskDetailsListTableId" class="table table-striped table-bordered table-hover taskListDataTable" style="width:100%;">
    <thead>
        @if (Model.fields.Count() > 1)
        {
            <tr style="cursor:none;">
                <th style="width:25%;">Field Description</th>
                <th style="width:25%;">Display Value</th>
                <th style="width:25%;">Field Description</th>
                <th style="width:25%;">Display Value</th>
            </tr>
        }
        else
        {
            <tr style="cursor:none;">
                <th style="width:50%;">Field Description</th>
                <th style="width:50%;">Display Value</th>
            </tr>
        }
    </thead>

    <tbody>
        @*For Display Value field I took controls as per "fieldTypeId" value. just took for 2 values( text and look up(dropdown)*@
        @if (Model.fields.Count() >= 0)
        {
            int count = 1;
            @foreach (var item in Model.fields)
            {
                @if (@item.permissionId != 0)
                {
                    if (count % 2 == 1)
                    {
                        @:<tr class="gradeU" style="cursor:default;">
                            <td><b>@item.fieldDesc</b></td>
                            @if (item.fieldTypeId == 1)
                            {
                                DateTime startDate = new DateTime(1970, 1, 2);
                                DateTime date = startDate.AddSeconds(Convert.ToDouble(item.value));
                                string date2 = date.ToString("MMM dd,yyyy");
                                <td class="displayValue1">
                                    @if (item.fieldControlType == 2 || item.permissionId == 1)
                                    {
                                        <input id="@item.fieldId" asp-for="@date2" onKeyDown="TaskDetailsPage.limitText(this, 10);" onKeyUp="TaskDetailsPage.limitText(this, 10);" class="form-control datepicker" disabled />
                                    }
                                    else
                                    {
                                        <input id="@item.fieldId" asp-for="@date2" onKeyDown="TaskDetailsPage.limitText(this, 10);" onKeyUp="TaskDetailsPage.limitText(this, 10);" name="date" class="form-control clsedit datepicker" />
                                        <br />
                                        <label style="display:none;color:red;" id="dateErrorMessage_@item.fieldId">Date must be greater than 01 Jan 1990.</label>
                                        <label style="display:none;color:red;" id="inValidDateErrorMessage_@item.fieldId">Please enter valid date</label>
                                    }

                                </td>
                            }
                            @if (@item.fieldTypeId == 2 || @item.fieldTypeId == 6)
                            {
                                @:<td class="displayValue1">
                                    @if (item.fieldControlType == 2 || item.permissionId == 1)
                                    {
                                        List<DictionaryViewModel> dictionary = ViewBag.Dictionaries;
                                        List<List<DictionaryItemsViewModel>> dictionaryItemsList = dictionary.Where(w => w.id == item.dictId.ToString()).Select(s => s.items).ToList();
                                        if (dictionaryItemsList.Count > 0)
                                        {
                                            ViewBag.Dictionaries = dictionaryItemsList[0].Select(c => new SelectListItem { Text = c.name.ToString(), Value = c.id.ToString() });
                                        }
                                        else
                                        {
                                            ViewBag.Dictionaries = dictionaryItemsList;
                                        }
                                        @if (item.value != null)
                                        {
                                            <select asp-for="@item.displayValue" id="@item.fieldId" class="form-control btn button dropdown dropdown-toggle" disabled="disabled">
                                                <option>Please select one</option>
                                                @foreach (var dictItem in ViewBag.Dictionaries)
                                        {
                                            if (Convert.ToDouble(dictItem.Value).ToString() == item.value.ToString())
                                            {
                                                        <option selected value="@dictItem.Value">@dictItem.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@dictItem.Value">@dictItem.Text</option>
                                                    }
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <select id="@item.fieldId" asp-for="@item.displayValue" asp-items="@ViewBag.Dictionaries" class="form-control btn button dropdown dropdown-toggle clsedit"><option>Please select one</option></select>
                                        }
                                    }
                                    else
                                    {
                                        List<DictionaryViewModel> dictionary = ViewBag.Dictionaries;
                                        List<List<DictionaryItemsViewModel>> dictionaryItemsList = dictionary.Where(w => w.id == item.dictId.ToString()).Select(s => s.items).ToList();
                                        if (dictionaryItemsList.Count > 0)
                                        {
                                            ViewBag.Dictionaries = dictionaryItemsList[0].Select(c => new SelectListItem { Text = c.name.ToString(), Value = c.id.ToString() });
                                        }
                                        else
                                        {
                                            ViewBag.Dictionaries = dictionaryItemsList;
                                        }
                                        @if (item.value != null)
                                        {
                                            <select asp-for="@item.displayValue" id="@item.fieldId" class="form-control btn button dropdown dropdown-toggle clsedit">
                                                <option>@item.displayValue</option>
                                                @*<option>Please select one</option>*@
                                                @foreach (var dictItem in ViewBag.Dictionaries)
                                        {
                                            if (Convert.ToDouble(dictItem.Value).ToString() == item.value.ToString())
                                            {
                                                        <option selected value="@dictItem.Value">@dictItem.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@dictItem.Value">@dictItem.Text</option>
                                                    }
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <select id="@item.fieldId" asp-for="@item.displayValue" asp-items="@ViewBag.Dictionaries" class="form-control btn button dropdown dropdown-toggle clsedit"><option>Please select one</option></select>
                                        }
                                        <br />
                                        <label style="display:none;color:red;" id="dropdownErrorMessage_@item.fieldId">Select any one option.</label>
                                    }
                                @:</td>
                            }
                            @if (@item.fieldTypeId == 3)
                            {
                                <td class="displayValue1">
                                    @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                    {
                                        <input type="number" id="@item.fieldId" onInput="return TaskDetailsPage.check(event, value)" min="@item.numberMin" max="@item.numberMax" step="0.01" asp-for="@item.value" class="form-control" />
                                    }
                                    else
                                    {
                                        <input type="number" id="@item.fieldId" onInput="return TaskDetailsPage.check(event, value)" min="0" max="@item.numberMax" step="0.01" asp-for="@item.value" class="form-control clsedit" />
                                        <br />
                                        <label style="display:none;color:red" id="numberErrorMessage_@item.fieldId">Enter number between 1-100</label>
                                    }
                                </td>
                            }
                            @if (@item.fieldTypeId == 4)
                            {
                                <td class="displayValue1">
                                    @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                    {
                                        <input type="text" id="@item.fieldId" asp-for="@item.value" class="form-control" disabled />
                                    }
                                    else
                                    {
                                        <input type="text" id="@item.fieldId" asp-for="@item.value" class="form-control clsedit" onKeyDown="TaskDetailsPage.limitText(this, 100);" onKeyUp="TaskDetailsPage.limitText(this, 100);" />
                                        <br />
                                        <label style="display:none;color:red;" id="textErrorMessage_@item.fieldId">Text should not take null value</label>
                                    }
                                </td>
                            }
                            @if (@item.fieldTypeId == 5)
                            {
                                <td class="displayValue1 i-checks chk">
                                    @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                {
                                        @if (@item.value != null)
                                    {
                                            @if (@item.value.ToString() == "0.0")
                                        {
                                                <input type="checkbox" name="checkbox" id="@item.fieldId" value="@item.value" checked="" disabled />
                                            }
                                            @if (@item.value.ToString() == "1.0")
                                        {
                                                <input type="checkbox" name="checkbox" id="@item.fieldId" value="@item.value" checked="checked" disabled />
                                            }
                                        }
                                    }
                                    else
                                    {
                                        @if (@item.value != null)
                                    {
                                            @if (@item.value.ToString() == "0.0")
                                        {
                                                <input type="checkbox" name="checkbox" id="@item.fieldId" onclick='checkboxChange(this);' value="@item.value" checked="" class="clsedit home6 checkhit" />
                                            }
                                            @if (@item.value.ToString() == "1.0")
                                        {
                                                <input type="checkbox" name="checkbox" id="@item.fieldId" onclick='checkboxChange(this);' value="@item.value" checked="checked" class="clsedit home6 checkhit" />
                                            }
                                            <br />
                                            <label style="display:none;color:red;" id="checkboxErrorMessage_@item.fieldId">Checkbox value should not be null.</label>
                                        }

                                    }
                                </td>
                            }
                            @if (@item.fieldTypeId == 7)
                            {
                                <td class="displayValue1">
                                    @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                    {
                                        <input type="text" id="@item.fieldId" asp-for="@item.value" class="form-control" disabled />
                                    }
                                    else
                                    {
                                        <input type="text" id="@item.fieldId" asp-for="@item.value" name="memo" class="form-control clsedit" onKeyDown="TaskDetailsPage.limitText(this, 400);" onKeyUp="TaskDetailsPage.limitText(this, 400);" />
                                        <br />
                                        <label style="display:none;color:red;" id="memoErrorMessage_@item.fieldId">Text should not take null value</label>
                                    }
                                </td>
                            }
                            @if (item.fieldTypeId == 8)
                            {
                                DateTime startDate = new DateTime(1970, 1, 2);
                                DateTime date = startDate.AddSeconds(Convert.ToDouble(item.value));
                                string date2 = date.ToString("MMM dd,yyyy");
                                <td class="displayValue1">
                                    @if (item.fieldControlType == 2 || item.permissionId == 1)
                                {
                                        <input id="@item.fieldId" asp-for="@date2" name="date" min="Dec 15, 2016" max="Dec 15, 2017" class="form-control datepicker" disabled />
                                    }
                                    else
                                    {
                                        <input id="@item.fieldId" asp-for="@date2" name="date" min="Dec 15, 2016" max="Dec 15, 2017" class="form-control clsedit datepicker" />
                                        <br />
                                        <label style="display:none;color:red;" id="dateErrorMessage_@item.fieldId">Date must be greater than 01 Jan 1990.</label>
                                    }

                                </td>
                            }
                            @if (@item.fieldTypeId == 9)
                            {
                                <td class="displayValue1">
                                    <label id="@item.fieldId" asp-for="@item.value"></label>
                                </td>
                            }

                            @if (@item.fieldTypeId == 11 || @item.fieldTypeId == 12 || @item.fieldTypeId == 13)
                            {
                                <td class="displayValue1">
                                    <label id="@item.fieldId" asp-for="@item.displayValue"></label>
                                </td>
                            }
                            @if (@item.fieldTypeId == 10)
                            {
                                <td class="displayValue1">
                                    @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                    {
                                        <input type="text" id="@item.fieldId" asp-for="@item.displayValue" class="form-control" disabled />
                                    }
                                    else
                                    {
                                        <input type="text" id="@item.fieldId" asp-for="@item.displayValue" class="form-control clsedit" />
                                    }
                                    <br />
                                </td>
                            }
                            @if (item.fieldTypeId == 14)
                            {
                                var albumId = item.value != null ? item.value : "null";
                                var photo = double.Parse(item.displayValue);
                                @if (item.displayValue.TrimStart() == "0.0")
                                {
                                    <td class="displayValue1">
                                        <a id="@item.fieldId" href="#" onclick="TaskDetailsPage.getPictureAlbum(@albumId,@item.fieldId);"><span>@photo Photo(s)</span></a>
                                        <br />
                                    </td>
                                }
                                else
                                {
                                    <td class="displayValue1">
                                        <a id="@item.fieldId" href="#" onclick="TaskDetailsPage.getPictureAlbum(@albumId,@item.fieldId);"><span>@photo Photo(s)</span></a>
                                        <br />
                                    </td>
                                }
                            }

                    }
                    @if (count % 2 == 0)
                    {
                        <td><b>@item.fieldDesc</b></td>

                        @if (@item.fieldTypeId == 1)
                        {
                            DateTime startDate = new DateTime(1970, 1, 2);
                            DateTime date = startDate.AddSeconds(Convert.ToDouble(item.value));
                            string date2 = date.ToString("MMM dd,yyyy");
                            <td class="displayValue1">
                                @if (item.fieldControlType == 2 || item.permissionId == 1)
                                {
                                    <input id="@item.fieldId" asp-for="@date2" name="date" class="form-control datepicker" disabled />
                                }
                                else
                                {
                                    <input id="@item.fieldId" asp-for="@date2" name="date" class="form-control clsedit datepicker" />
                                }
                                <br />
                                <label style="display:none;color:red;" id="dateErrorMessage_@item.fieldId">Date must be greater than 01 Jan 1990.</label>
                            </td>
                        }
                        @if (@item.fieldTypeId == 2 || @item.fieldTypeId == 6)
                        {
                            @:<td class="displayValue1">
                                @if (item.fieldControlType == 2 || item.permissionId == 1)
                                {
                                    List<DictionaryViewModel> dictionary = ViewBag.Dictionaries;
                                    List<List<DictionaryItemsViewModel>> dictionaryItemsList = dictionary.Where(w => w.id == item.dictId.ToString()).Select(s => s.items).ToList();
                                    if (dictionaryItemsList.Count > 0)
                                    {
                                        ViewBag.Dictionaries = dictionaryItemsList[0].Select(c => new SelectListItem { Text = c.name.ToString(), Value = c.id.ToString() });
                                    }
                                    else
                                    {
                                        ViewBag.Dictionaries = dictionaryItemsList;
                                    }
                                    @if (item.value != null)
                                    {
                                        <select asp-for="@item.displayValue" id="@item.fieldId" class="form-control btn button dropdown dropdown-toggle" disabled="disabled">
                                            <option>Please select one</option>
                                            @foreach (var dictItem in ViewBag.Dictionaries)
                                            {
                                                if (Convert.ToDouble(dictItem.Value).ToString() == item.value.ToString())
                                                {
                                                    <option selected value="@dictItem.Value">@dictItem.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@dictItem.Value">@dictItem.Text</option>
                                                }
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        <select id="@item.fieldId" asp-for="@item.displayValue" asp-items="@ViewBag.Dictionaries" class="form-control btn button dropdown dropdown-toggle clsedit"><option>Please select one</option></select>
                                    }
                                }
                                else
                                {
                                    List<DictionaryViewModel> dictionary = ViewBag.Dictionaries;
                                    List<List<DictionaryItemsViewModel>> dictionaryItemsList = dictionary.Where(w => w.id == item.dictId.ToString()).Select(s => s.items).ToList();
                                    if (dictionaryItemsList.Count > 0)
                                    {
                                        ViewBag.Dictionaries = dictionaryItemsList[0].Select(c => new SelectListItem { Text = c.name.ToString(), Value = c.id.ToString() });
                                    }
                                    else
                                    {
                                        ViewBag.Dictionaries = dictionaryItemsList;
                                    }
                                    @if (item.value != null)
                                    {
                                        <select asp-for="@item.displayValue" id="@item.fieldId" class="form-control btn button dropdown dropdown-toggle clsedit">
                                            <option>@item.displayValue</option>
                                            @*<option>Please select one</option>*@
                                            @foreach (var dictItem in ViewBag.Dictionaries)
                                            {
                                                if (Convert.ToDouble(dictItem.Value).ToString() == item.value.ToString())
                                                {
                                                    <option selected value="@dictItem.Value">@dictItem.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@dictItem.Value">@dictItem.Text</option>
                                                }
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        <select id="@item.fieldId" asp-for="@item.displayValue" asp-items="@ViewBag.Dictionaries" class="form-control btn button dropdown dropdown-toggle clsedit"><option>Please select one</option></select>
                                    }
                                    <br />
                                            <label style="display:none;color:red;" id="dropdownErrorMessage_@item.fieldId">Select any one option.</label>
                                }
                            @:</td>
                                }
                        @if (item.fieldTypeId == 3)
                        {
                            <td class="displayValue1">
                              @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                              {
                                <input type="number" id="@item.fieldId" onInput="return TaskDetailsPage.check(event, value)" min="@item.numberMin" max="@item.numberMax" step="0.01" asp-for="@item.value" class="form-control" />
                              }
                              else
                              {
                                <input type="number" id="@item.fieldId" onInput="return TaskDetailsPage.check(event, value)" min="0" max="@item.numberMax" step="0.01" asp-for="@item.value" class="form-control clsedit" />
                                        <br />
                                        <label style="display:none;color:red" id="numberErrorMessage_@item.fieldId">Enter number between 1-100</label>
                              }
                            </td>
                        }
                        @if (item.fieldTypeId == 4)
                        {
                            <td class="displayValue1">
                                @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                {
                                    <input asp-for="@item.value" type="text" id="@item.fieldId" class="form-control" disabled />
                                }
                                else
                                {
                                    <input type="text" id="@item.fieldId" asp-for="@item.value" class="form-control clsedit" onKeyDown="TaskDetailsPage.limitText(this, 100);" onKeyUp="TaskDetailsPage.limitText(this, 100);" />
                                            <br />
                                            <label style="display:none;color:red;" id="textErrorMessage_@item.fieldId">Text should not take null value</label>
                                }
                            </td>
                        }
                        @if (item.fieldTypeId == 5)
                        {
                            <td class="displayValue1 i-checks chk">
                                @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                {
                                    @if (@item.value != null)
                                    {
                                        @if (@item.value.ToString() == "0.0")
                                        {
                                            <input type="checkbox" name="checkbox" id="@item.fieldId" value="@item.value" checked="" disabled />
                                        }
                                        @if (@item.value.ToString() == "1.0")
                                        {
                                            <input type="checkbox" name="checkbox" id="@item.fieldId" value="@item.value" checked="checked" disabled />
                                        }
                                    }
                                }
                                else
                                {
                                    @if (@item.value != null)
                                    {
                                        @if (@item.value.ToString() == "0.0")
                                        {
                                            <input type="checkbox" name="checkbox" id="@item.fieldId" value="@item.value" checked="" class="clsedit" />
                                        }
                                        @if (@item.value.ToString() == "1.0")
                                        {
                                            <input type="checkbox" name="checkbox" id="@item.fieldId" value="@item.value" checked="checked" class="clsedit" />
                                        }
                                        <br />
                                            <label style="display:none;color:red;" id="checkboxErrorMessage_@item.fieldId">Checkbox value should not be null.</label>
                                    }
                                }
                            </td>
                        }

                        @if (item.fieldTypeId == 7)
                        {
                            <td class="displayValue1">
                                @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                {
                                    <input type="text" id="@item.fieldId" asp-for="@item.value" class="form-control" disabled />
                                }
                                else
                                {
                                    <input type="text" id="@item.fieldId" name="memo" asp-for="@item.value" class="form-control clsedit" onKeyDown="TaskDetailsPage.limitText(this, 400);" onKeyUp="TaskDetailsPage.limitText(this, 400);" />
                                }
                                <br />
                                <label style="display:none;color:red;" id="memoErrorMessage_@item.fieldId">Text should not take null value</label>
                            </td>
                        }
                        @if (item.fieldTypeId == 8)
                        {
                            DateTime startDate = new DateTime(1970, 1, 2);
                            DateTime date = startDate.AddSeconds(Convert.ToDouble(item.value));
                            string date2 = date.ToString("dd MM yyyy - hh:ii");
                            <td class="displayValue1">
                                @if (item.fieldControlType == 2 || item.permissionId == 1)
                                {
                                    <input id="@item.fieldId" asp-for="@date2" name="date" min="Dec 15, 2016" max="Dec 15, 2017" class="form-control datepicker" disabled />
                                }
                                else
                                {
                                    @*<input id="@item.fieldId" asp-for="@date2" name="date" min="Dec 15, 2016" max="Dec 15, 2017" class="form-control clsedit datepicker" />*@
                                    <input size="16" type="text" value="2012-06-15 14:45" class="form-control bootstrap-datetimepicker-widget">
                                    <br />
                                            <label style="display:none;color:red;" id="dateErrorMessage_@item.fieldId">Date must be greater than 01 Jan 1990.</label>
                                }

                            </td>
                        }
                        @if (@item.fieldTypeId == 9)
                        {
                            <td class="displayValue1">
                                <label id="@item.fieldId" asp-for="@item.value"></label>
                            </td>
                        }

                        @if (@item.fieldTypeId == 11 || @item.fieldTypeId == 12 || @item.fieldTypeId == 13)
                        {
                            <td class="displayValue1">
                                <label id="@item.fieldId" asp-for="@item.displayValue"></label>
                            </td>
                        }
                        @if (@item.fieldTypeId == 10)
                        {
                            <td class="displayValue1">
                                @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                {
                                    <input type="text" id="@item.fieldId" asp-for="@item.displayValue" class="form-control" disabled />
                                }
                                else
                                {
                                    <input type="text" id="@item.fieldId" asp-for="@item.displayValue" class="form-control clsedit" />
                                }
                            </td>
                        }
                        @if (item.fieldTypeId == 14)
                        {
                            var albumId = item.value != null ? item.value : "null";
                            var photo = double.Parse(item.displayValue);
                            @if (item.displayValue.TrimStart() == "0.0")
                            {
                                <td class="displayValue1">
                                    <a id="@item.fieldId" href="#" onclick="TaskDetailsPage.getPictureAlbum(@albumId,@item.fieldId);"><span>@photo Photo(s)</span></a>
                                    <br />
                                </td>
                            }
                            else
                            {
                                <td class="displayValue1">
                                    <a id="@item.fieldId" href="#" onclick="TaskDetailsPage.getPictureAlbum(@albumId,@item.fieldId);"><span>@photo Photo(s)</span></a>
                                    <br />
                                </td>
                            }
                        }
                   @:</tr>
                    }
                }
                count++;
            }
        }
    </tbody>
</table>

<div id="ReactivatedTask">
    <button id="completeTask" type="submit" name="Complete" value="Complete" class="btn button taskdetailsbuttons">Complete</button>
    <button id="savedDetails" type="submit" name="Save" value="Save" class="btn button taskdetailsbuttons">Save</button>
</div>

