@model  Generwell.Modules.ViewModels.TaskDetailsViewModel
@using Generwell.Modules.GenerwellConstants;
@using Microsoft.AspNetCore.Http;
@using System.Linq;
@using Generwell.Modules.ViewModels;

<script type="text/javascript">
    $(document).ready(function () {
        TaskDetailsPage.initialize(@Context.Session.GetString("TaskId"));
        $('.datepicker').datepicker({ format: 'M dd,yyyy', autoclose: true }); //Initialise any date pickers
    });
    var ids = $('.clsedit').map(function () {
        return this.id;
    }).get();
</script>
@if (Model.fields.Count() > 0)
            {
    @foreach (var item in Model.fields)
    {
        @if (@item.fieldControlType != 2)
                    {
            @if (@item.permissionId == 2 || @item.permissionId == 9)
                        {
                @Html.HiddenFor(model => @item.fieldId, new { id = "FieldId" });
            }
        }
    }
}

<!-- Loading Modal Start here-->
@Html.Partial("_LoadingPopup")
<!-- Modal ends Here -->

<input type="hidden" id="reactivatedTask" value="@Model.status" />

<div id="newCmpMessage" style="display:none;" class="alert alert-success alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    Data saved Successfully.
</div>

<table id="taskDetailsListTableId" class="table table-striped table-bordered table-hover taskListDataTable" style="width:100%;">
    <thead>
        <tr>
            <th>Field Description</th>
            <th>Display Value</th>
            <th>Field Description</th>
            <th>Display Value</th>
        </tr>
    </thead>

    <tbody>
        @*For Display Value field I took controls as per "fieldTypeId" value. just took for 2 values( text and look up(dropdown)*@
        @if (Model.fields.Count() > 0)
        {
            int count = 1;
            @foreach (var item in Model.fields)
            {
                @if (@item.permissionId != 0)
                {
                    if (count % 2 == 1)
                    {
                        
                        @:<tr class="gradeU">
                            <td><b>@item.fieldDesc</b></td>
                            @if (item.fieldTypeId == 1 || item.fieldTypeId == 8)
                            {
                                DateTime startDate = new DateTime(1970, 1, 2);
                                DateTime date = startDate.AddSeconds(Convert.ToDouble(item.value));
                                string date2 = date.ToString("MMM dd,yyyy");
                                <td class="displayValue1">
                                    @if (item.fieldControlType == 2 || item.permissionId == 1)
                                    {
                                        <input id="@item.fieldId" asp-for="@date2" name="date" min="Dec 15, 2016" max="Dec 15, 2017" class="form-control clsedit datepicker" disabled />
                                    }
                                    else
                                    {
                                        <input id="@item.fieldId" asp-for="@date2" name="date" min="Dec 15, 2016" max="Dec 15, 2017" class="form-control clsedit datepicker" />
                                        <br />
                                        <label style="display:none;color:red;" id="dateErrorMessage_@item.fieldId">Date must be greater than 01 Jan 1990.</label>
                                    }

                                </td>
                            }
                            @if (@item.fieldTypeId == 2 || @item.fieldTypeId == 6)
                            {

                                @:  <td class="displayValue1">
                                    @if (item.fieldControlType == 2 || item.permissionId == 1)
                                    {

                                        List<DictionaryViewModel> dictionary = ViewBag.Dictionaries;
                                        List<List<DictionaryItemsViewModel>> dictionaryItemsList = dictionary.Where(w => w.id == item.dictId.ToString()).Select(s => s.items).ToList();
                                        if (dictionaryItemsList.Count > 0)
                                        {
                                            ViewBag.Dictionaries = dictionaryItemsList[0].Select(c => new SelectListItem { Text = c.name.ToString(), Value = c.id.ToString() });
                                        }
                                        else
                                        {
                                            ViewBag.Dictionaries = dictionaryItemsList;
                                        }
                                        @if (item.value != null)
                                        {
                                            <select asp-for="@item.displayValue" id="@item.fieldId" class="form-control btn button dropdown dropdown-toggle clsedit" disabled="disabled">
                                                <option>Please select one</option>
                                                @foreach (var dictItem in ViewBag.Dictionaries)
                                        {
                                            if (Convert.ToDouble(dictItem.Value).ToString() == item.value.ToString())
                                            {
                                                        <option selected value="@dictItem.Value">@dictItem.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@dictItem.Value">@dictItem.Text</option>
                                                    }
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <select id="@item.fieldId" asp-for="@item.displayValue" asp-items="@ViewBag.Dictionaries" class="form-control btn button dropdown dropdown-toggle clsedit"><option>Please select one</option></select>
                                        }
                                    }
                                    else
                                    {
                                        List<DictionaryViewModel> dictionary = ViewBag.Dictionaries;
                                        List<List<DictionaryItemsViewModel>> dictionaryItemsList = dictionary.Where(w => w.id == item.dictId.ToString()).Select(s => s.items).ToList();
                                        if (dictionaryItemsList.Count > 0)
                                        {
                                            ViewBag.Dictionaries = dictionaryItemsList[0].Select(c => new SelectListItem { Text = c.name.ToString(), Value = c.id.ToString() });
                                        }
                                        else
                                        {
                                            ViewBag.Dictionaries = dictionaryItemsList;
                                        }
                                        @if (item.value != null)
                                        {
                                            <select asp-for="@item.displayValue" id="@item.fieldId" class="form-control btn button dropdown dropdown-toggle clsedit">
                                                <option>Please select one</option>
                                                @foreach (var dictItem in ViewBag.Dictionaries)
                                        {
                                            if (Convert.ToDouble(dictItem.Value).ToString() == item.value.ToString())
                                            {
                                                        <option selected value="@dictItem.Value">@dictItem.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@dictItem.Value">@dictItem.Text</option>
                                                    }
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <select id="@item.fieldId" asp-for="@item.displayValue" asp-items="@ViewBag.Dictionaries" class="form-control btn button dropdown dropdown-toggle clsedit"><option>Please select one</option></select>
                                        }
                                        <br />
                                        <label style="display:none;color:red;" id="dropdownErrorMessage_@item.fieldId">Select any one option.</label>
                                    }


                                @:</td>

                            }
                            @if (@item.fieldTypeId == 3)
                            {
                                <td class="displayValue1">
                                    @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                    {
                                        <input type="number" id="@item.fieldId" min="1" max="100" asp-for="@item.value" class="form-control clsedit" disabled />
                                    }
                                    else
                                    {
                                        <input type="number" id="@item.fieldId" min="1" max="100" asp-for="@item.value" class="form-control clsedit" />
                                        <br />
                                        <label style="display:none;color:red" id="numberErrorMessage_@item.fieldId">Enter number between 1-100</label>
                                    }
                                </td>
                            }


                            @if (@item.fieldTypeId == 4)
                            {
                                <td class="displayValue1">
                                    @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                    {
                                        <input type="text" id="@item.fieldId" asp-for="@item.value" class="form-control clsedit" max="100" disabled />
                                    }
                                    else
                                    {
                                        <input type="text" id="@item.fieldId" asp-for="@item.value" class="form-control clsedit" max="100" />
                                        <br />
                                        <label style="display:none;color:red;" id="textErrorMessage_@item.fieldId">Text should not take null value</label>
                                    }
                                </td>
                            }
                            @if (@item.fieldTypeId == 5)
                            {
                                <td class="displayValue1 i-checks chk">
                                    @if (@item.value != null)
                                    {
                                        @if (@item.value.ToString() == "0.0")
                                        {
                                            <input type="checkbox" name="checkbox" id="@item.fieldId" value="@item.value" checked="" class="clsedit" disabled />
                                        }
                                        @if (@item.value.ToString() == "1.0")
                                        {
                                            <input type="checkbox" name="checkbox" id="@item.fieldId" value="@item.value" checked="checked" class="clsedit" />
                                        }
                                    }
                                </td>
                            }

                            @if (@item.fieldTypeId == 7)
                            {
                                <td class="displayValue1">
                                    @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                    {
                                        <input type="text" id="@item.fieldId" asp-for="@item.value" class="form-control clsedit" max="100" disabled />
                                    }
                                    else
                                    {
                                        <input type="text" id="@item.fieldId" asp-for="@item.value" class="form-control clsedit" max="100" />
                                        <br />
                                        <label style="display:none;color:red;" id="textErrorMessage_@item.fieldId">Text should not take null value</label>
                                    }
                                </td>
                            }
                            @if (@item.fieldTypeId == 9)
                            {
                                <td class="displayValue1">
                                    <label id="@item.fieldId" asp-for="@item.value"></label>
                                </td>
                            }

                            @if (@item.fieldTypeId == 11 || @item.fieldTypeId == 12 || @item.fieldTypeId == 13)
                            {
                                <td class="displayValue1">
                                    <label id="@item.fieldId" asp-for="@item.displayValue"></label>
                                </td>
                            }
                            @if (@item.fieldTypeId == 10)
                            {
                                <td class="displayValue1">
                                    @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                    {
                                        <input type="text" id="@item.fieldId" asp-for="@item.displayValue" class="form-control clsedit" disabled />
                                    }
                                    else
                                    {
                                        <input type="text" id="@item.fieldId" asp-for="@item.displayValue" class="form-control clsedit" />
                                    }
                                </td>
                            }
                            @if (@item.fieldTypeId == 14)
                            {
                                @if (item.displayValue.TrimStart() == "0.0")
                                {
                                    <td class="displayValue1">
                                        <a id="@item.fieldId" href="#" onclick="TaskDetailsPage.getPictureAlbum(@item.value);"><span>@item.displayValue Photo(s)</span></a>
                                    </td>
                                }
                                else
                                {
                                    <td class="displayValue1">
                                        <a id="@item.fieldId" href="#" onclick="TaskDetailsPage.getPictureAlbum(@item.value);"><span>@item.displayValue Photo(s)</span></a>
                                    </td>
                                }
                            }
                            }
                            @if (count % 2 == 0)
                            {
                                <td><b>@item.fieldDesc</b></td>

                                @if (@item.fieldTypeId == 1 || @item.fieldTypeId == 8)
                                {

                                    DateTime startDate = new DateTime(1970, 1, 2);
                                    DateTime date = startDate.AddSeconds(Convert.ToDouble(item.value));
                                    string date2 = date.ToString("MMM dd,yyyy");
                                    <td class="displayValue1">
                                        @if (item.fieldControlType == 2 || item.permissionId == 1)
                                        {
                                            <input id="@item.fieldId" asp-for="@date2" name="date" class="form-control clsedit datepicker" disabled />
                                        }
                                        else
                                        {
                                            <input id="@item.fieldId" asp-for="@date2" name="date" class="form-control clsedit datepicker" />
                                        }
                                        <br />
                                        <label style="display:none;color:red;" id="dateErrorMessage_@item.fieldId">Date must be greater than 01 Jan 1990.</label>
                                    </td>
                                }
                                @if (@item.fieldTypeId == 2 || @item.fieldTypeId == 6)
                                {
                                    @: <td class="displayValue1">
                                        @if (item.fieldControlType == 2 || item.permissionId == 1)
                                        {

                                            List<DictionaryViewModel> dictionary = ViewBag.Dictionaries;
                                            List<List<DictionaryItemsViewModel>> dictionaryItemsList = dictionary.Where(w => w.id == item.dictId.ToString()).Select(s => s.items).ToList();
                                            if (dictionaryItemsList.Count > 0)
                                            {
                                                ViewBag.Dictionaries = dictionaryItemsList[0].Select(c => new SelectListItem { Text = c.name.ToString(), Value = c.id.ToString() });
                                            }
                                            else
                                            {
                                                ViewBag.Dictionaries = dictionaryItemsList;
                                            }
                                            @if (item.value != null)
                                            {
                                                <select asp-for="@item.displayValue" id="@item.fieldId" class="form-control btn button dropdown dropdown-toggle clsedit" disabled="disabled">
                                                    <option>Please select one</option>
                                                    @foreach (var dictItem in ViewBag.Dictionaries)
                                                    {
                                                        if (Convert.ToDouble(dictItem.Value).ToString() == item.value.ToString())
                                                        {
                                                            <option selected value="@dictItem.Value">@dictItem.Text</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@dictItem.Value">@dictItem.Text</option>
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <select id="@item.fieldId" asp-for="@item.displayValue" asp-items="@ViewBag.Dictionaries" class="form-control btn button dropdown dropdown-toggle clsedit"><option>Please select one</option></select>
                                            }
                                        }
                                        else
                                        {
                                            List<DictionaryViewModel> dictionary = ViewBag.Dictionaries;
                                            List<List<DictionaryItemsViewModel>> dictionaryItemsList = dictionary.Where(w => w.id == item.dictId.ToString()).Select(s => s.items).ToList();
                                            if (dictionaryItemsList.Count > 0)
                                            {
                                                ViewBag.Dictionaries = dictionaryItemsList[0].Select(c => new SelectListItem { Text = c.name.ToString(), Value = c.id.ToString() });
                                            }
                                            else
                                            {
                                                ViewBag.Dictionaries = dictionaryItemsList;
                                            }
                                            @if (item.value != null)
                                            {
                                                <select asp-for="@item.displayValue" id="@item.fieldId" class="form-control btn button dropdown dropdown-toggle clsedit">
                                                    <option>Please select one</option>
                                                    @foreach (var dictItem in ViewBag.Dictionaries)
                                                    {
                                                        if (Convert.ToDouble(dictItem.Value).ToString() == item.value.ToString())
                                                        {
                                                            <option selected value="@dictItem.Value">@dictItem.Text</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@dictItem.Value">@dictItem.Text</option>
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <select id="@item.fieldId" asp-for="@item.displayValue" asp-items="@ViewBag.Dictionaries" class="form-control btn button dropdown dropdown-toggle clsedit"><option>Please select one</option></select>
                                            }
                                            <br />
                                            <label style="display:none;color:red;" id="dropdownErrorMessage_@item.fieldId">Select any one option.</label>
                                        }


                                       
                                   @: </td>
                                }
                                @if (item.fieldTypeId == 3)
                                {
                                    <td class="displayValue1">
                                        @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                        {
                                            <input type="number" id="@item.fieldId" min="1" max="100" asp-for="@item.value" class="form-control clsedit" disabled />
                                        }
                                        else
                                        {
                                            <input type="number" id="@item.fieldId" min="1" max="100" asp-for="@item.value" class="form-control clsedit" />
                                            <br />
                                            <label style="display:none;color:red" id="numberErrorMessage_@item.fieldId">Enter number between 1-100</label>
                                        }
                                    </td>
                                }
                                @if (item.fieldTypeId == 4)
                                {
                                    <td class="displayValue1">
                                        @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                        {
                                            <input asp-for="@item.value" type="text" id="@item.fieldId" class="form-control clsedit" max="100" disabled />
                                        }
                                        else
                                        {
                                            <input asp-for="@item.value" type="text" id="@item.fieldId" class="form-control clsedit" max="100" />
                                            <br />
                                            <label style="display:none;color:red;" id="textErrorMessage_@item.fieldId">Text should not take null value</label>
                                        }
                                    </td>
                                }
                                @if (item.fieldTypeId == 5)
                                {
                                    <td class="displayValue1 i-checks chk">
                                        @if (@item.value != null)
                                        {
                                            @if (@item.value.ToString() == "0.0")
                                            {
                                                <input type="checkbox" name="checkbox" id="@item.fieldId" value="@item.value" checked="" class="clsedit" disabled />
                                            }
                                            @if (@item.value.ToString() == "1.0")
                                            {
                                                <input type="checkbox" name="checkbox" id="@item.fieldId" value="@item.value" checked="checked" class="clsedit" />
                                            }
                                        }
                                    </td>
                                }

                                @if (item.fieldTypeId == 7)
                                {
                                    <td class="displayValue1">
                                        @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                        {
                                            <input type="text" id="@item.fieldId" asp-for="@item.value" class="form-control clsedit" max="100" disabled />
                                        }
                                        else
                                        {
                                            <input type="text" id="@item.fieldId" asp-for="@item.value" class="form-control clsedit" max="100" />
                                        }
                                        <br />
                                        <label style="display:none;color:red;" id="textErrorMessage_@item.fieldId">Text should not take null value</label>
                                    </td>
                                }
                                @if (@item.fieldTypeId == 9)
                                {
                                    <td class="displayValue1">
                                        <label id="@item.fieldId" asp-for="@item.value"></label>
                                    </td>
                                }

                                @if (@item.fieldTypeId == 11 || @item.fieldTypeId == 12 || @item.fieldTypeId == 13)
                                {
                                    <td class="displayValue1">
                                        <label id="@item.fieldId" asp-for="@item.displayValue"></label>
                                    </td>
                                }
                                @if (@item.fieldTypeId == 10)
                                {
                                    <td class="displayValue1">
                                        @if (@item.fieldControlType == 2 || @item.permissionId == 1)
                                        {
                                            <input type="text" id="@item.fieldId" asp-for="@item.displayValue" class="form-control clsedit" disabled />
                                        }
                                        else
                                        {
                                            <input type="text" id="@item.fieldId" asp-for="@item.displayValue" class="form-control clsedit" />
                                        }
                                    </td>
                                }
                                @if (@item.fieldTypeId == 14)
                                {
                                    @if (item.displayValue.TrimStart() == "0.0")
                                    {
                                        <td class="displayValue1">
                                            <a id="@item.fieldId" href="#" onclick="TaskDetailsPage.getPictureAlbum(@item.value);"><span>@item.displayValue Photo(s)</span></a>
                                        </td>

                                    }
                                    else
                                    {
                                        <td class="displayValue1"><a id="@item.fieldId" href="#" onclick="TaskDetailsPage.getPictureAlbum(@item.value);"><span>@item.displayValue Photo(s)</span></a></td>
                                    }
                                }

                                @: </tr>
                            }
                            }
                            count++;
                            }
                            }
                            else
                            {
                            <tr class="gradeU">
                                <td class="displayValue1">@Constants.NoData</td>
                                <td class="displayValue1">@Constants.NoData</td>
                                <td class="displayValue1">@Constants.NoData</td>
                            </tr>
                            }


                        </tbody>
                    </table>


                    <div id="ReactivatedTask">
                        <button id="completeTask" type="submit" name="Complete" value="Complete" class="btn button taskdetailsbuttons">Complete</button>
                        <button id="savedDetails" type="submit" name="Save" value="Save" class="btn button taskdetailsbuttons">Save</button>
                    </div>

