@model Generwell.Web.ViewModels.SignInViewModel
@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
    string error = (TempData["ServerError"] != null) ? TempData["ServerError"].ToString() : string.Empty;
}

@* Support Modal popup display *@

<!-- Modal ends Here -->
<div class="container center-screen">
    <div class="row">
        <div class="Absolute-Center is-Responsive">
            <div class="col-sm-12 col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
                <div class="col-md-12 form-group logotext col-sm-12 col-xs-12">

                    <h1 class="text-center">Generwell</h1>
                </div>
                <form id="loginPageForm" method="post" action="">
                    <div id="error" class="text-red">@error</div>
                    @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-red" })
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "UserName" })
                    </div>

                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-red" })
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                    </div>

                    @Html.ValidationMessageFor(model => model.WebApiUrl, null, new { @class = "text-red" })
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @Html.TextBoxFor(model => model.WebApiUrl, new { @class = "form-control", placeholder = "Url" })
                    </div>

                    <div class="form-group">
                        <button type="submit" id="submitData" value="Login" class="btn btn-primary btn-block">Login</button>
                        @*<button type="button" id="submitData" value="Login" class="btn btn-def btn-block" onclick="loginPage.MakeAjax('/Accounts/Login', $('#loginPageForm :input'),this)">Login</button>*@
                    </div>
                    <div class="form-group text-center">
                        <!-- Trigger the modal with a button -->
                        <a id="supportId" href="#">Support</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id='myModal' class='modal'>
    <div class="modal-dialog w-26">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<!-- Loading Modal Start here-->
<div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
     role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-time">
                    </span>Please Wait
                </h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-info
                    progress-bar-striped active"
                         style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
